<h1>Current items in cart!</h1>


<div class="row1">                                                                                                        <div class="column1">         
 	<div class="column1">                                                                                                   <img src="assets/img/greenbanana.jpg" alt="Green" style="width:100%"> 	
		<h3>Green Bananas for only $7,000</h3>                                    
	</div>                                                                                               
	</div>	
	<div class="column1">                                                                                                       <img src="assets/img/oldbanana.jpg" alt="Old" style="width:100%"> 
		<h3>Bad Bananas for free!</h3>
	</div>                                                                                                               </div>                                                                                                                     
