<!--<h1> Webstore</h1>
<nav> 
  	<a routerLink="/home">Home</a>
	<a routerLink="/products">Products</a>
	<a routerLink="/sign"> Sign-in</a> 
</nav>
<div>
	<router-outlet></router-outlet>
</div> -->
<header>
	<div class="container">
	<a routerLink="/" class="logo">Webstore</a>  
	<nav>
	     <ul>
		<li><a routerLink="/home">Home</a></li>
		<li><a routerLink="/products">Products</a></li>
		<li><a routerLink="/sign">Sign-in</a></li>
	     </ul>
	  </nav>
	</div>
</header>

<div class="container">
	  <router-outlet></router-outlet>
</div>
