<!-- Cretas homepage and nav bar-->
<header>
	<div class="container">
	<!-- Default logo--> 	
	<a routerLink="/" class="logo">Webstore</a>  
	<!-- nav bar--> 
	<nav>
	     <ul>
	        <!-- Links--> 
		<li><a routerLink="/home">Home</a></li>
		<li><a routerLink="/products">Products</a></li>
		<li><a routerLink="/sign">Sign-in</a></li>
		<li><a routerLink="/cart">Cart</a></li>
	     </ul>
	  </nav>
	</div>
</header>

<div class="container">
	  <router-outlet></router-outlet>
</div>
