<p>products works!</p>

<br>

<div class="row">
  <div class="column">
      <img src="assets/img/goodbanana.jpg" alt="Good" style="width:100%">
      <h3>Good Bananas </h3>
      <button type="button">View</button>
  </div>
  <div class="column">
      <img src="assets/img/greenbanana.jpg" alt="Green" style="width:100%">
      <h3>Green Bananas</h3>
      <button type="button" routerLink="/details">View</button>
  </div>
  <div class="column">
      <img src="assets/img/oldbanana.jpg" alt="Old" style="width:100%">
      <h3>Bad Bananas</h3> 
      <button type="button">View</button>
  </div>
</div>
